label {
    font-size: 24px;
}
.wrapper{
    display: flex;
}
.ch-wrap {
    width: 560px;
    height: 560px;
    border: 2px solid #111;
}
.ch-item {
    width: 70px;
    height: 70px;
    float: left;
}
.ch-black {
    background: rgb(133, 130, 130);
    border-radius: 5%;
}

.solution {
    margin-left: 50px;
    margin-top: 10px;
    
}

.select-solution {
    width: 350px;
    margin-top: 20px;
    font-size: 20px;
}

