

.menu {
    display: flex;
    cursor: pointer;
    
}

ul {
    display: flex; 
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.menu-item {
    position: relative;
    padding: 5px;
    margin: 10px;
    border-left: 1px solid black;
    text-decoration: none;
}

a, a:visited, a:hover, a:active, .menu-item {
    text-decoration: none;
    color: black;
}

.menu-item:hover{
    background-color: rgb(207, 202, 202);
}

.submenu {
    display: none;
    width: 250px;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: #d0d33b;
    
}

.submenu > li > .submenu {
    display: none;
    top: 0%;
    left: 100%;
    background-color: #b1b363;
}

.submenu li {
    border-left-style: none; 
    border-bottom:  1px solid black;
}