.container{
    max-width: 1480px;
    margin: 0 auto;
}

input {
    display: block;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 76px;
    padding: 25px 68px;
    letter-spacing: 1px;
}
.delete__info-drink {
    color: #FFFFFF;
    background-color: #710707;
    transition: 0.5s;
}

.info__drink{
    background: #e2dddd;
    color: #000000;
    transition: 0.5s;
}
.info__drink:hover, .delete__info-drink:hover{
    background: #9d8665;
    transition: 0.5s;
    cursor: pointer;
}





